.text-white {
  color: white;
}

.dark-gray {
  background-color: #565656;
}

.custom-image {
  border-radius: 20px;
  padding: 0px;
  width: calc(100% - 20px);
  height: 300px;
}

.custom-buttons button,
.custom-buttons div {
  background-color: white;
  border-color: white;
}
